$link: #000000
$link_active: #903530
$link_current: #305090
$photo_background: #000000


a
  color: $link
  text-decoration: none
  border-bottom: 1px solid
  border-color: lighten($link, 80%)

  &:visited
    color: lighten($link, 20%)
    border-color: lighten($link, 80%)

  &:active
    color: $link_active
    border-color: lighten($link_active, 50%)

  &:hover
    color: $link
    border-color: $link

main
  margin: 40px

article
  margin: 40px auto 40px auto
  padding-left: 40px
  padding-right: 40px
  max-width: 1200px

  p
    max-width: 600px

  ul
    padding-left: 0px
    list-style: none

    li
      margin: 1em 0px


.body
  margin: auto 
  display: grid
  grid-auto-flow: row
  font-family: Sans-Serif
  font-size: 14px


.header
  padding: 0px 40px
  height: 80px
  display: flex
  align-items: center
  box-shadow: 0 6px 28px rgba(158, 177, 212, .14)

  &__logo
    margin-right: 10px
    width: 37px
    height: 44px
    border-bottom: none

  &__nav
    display: flex
    white-space: nowrap

    &__link
      margin-left: 25px 
      text-decoration: none
      padding: 2px 0px
      border-color: lighten($link, 80%)
      color: $link

      &:visited
        color: $link
        border-color: lighten($link, 80%)

      &:hover
        border-color: $link

      &_active
        color: $link_current
        border-color: lighten($link_current, 80%)

        &:visited
          color: $link_current
          border-color: lighten($link_current, 50%)

        &:hover
          color: $link_current
          border-color: $link_current

  &__title
    text-decoration: none
    color: black
    border-bottom: none

    &:visited
      color: black


.projects
  display: grid
  grid-template-columns: repeat(5, minmax(0, 1fr))
  column-gap: 3.5%
  row-gap: 30px

  &__item
    margin: 0

    &:hover &__image
      filter: grayscale(0)

    &:hover figcaption
      opacity: 1
      transform: translateY(8px)

    &__image
      width: 100%
      filter: grayscale(1)
      transition: filter 0.3s ease

      &:hover
        border-color: black

      &_active
        border-color: black

    &__link
      border-bottom: none

    figcaption
      opacity: 0
      transition: opacity 0.3s ease, transform .2s ease

  &__title
    text-decoration: none


.arkanafts
  display: grid
  grid-template-columns: repeat(6, minmax(0, 1fr))
  column-gap: 3.5%
  row-gap: 40px
  margin-bottom: 40px

  &__item
    margin: 0

    &:hover &__image
      filter: grayscale(0)

    &__image
      width: 100%
      filter: grayscale(1)
      transition: filter 0.3s ease

      &:hover
        border-color: black

      &_active
        border-color: black

    &__caption
      display: flex
      flex-direction: column

      p
        margin-top: 0.5em
        margin-bottom: 0

  &__title
    text-decoration: none


.scroller
  margin-right: -40px

  &__item
    margin-right: 10px

    img
      max-width: calc(100vw - 40px)
      max-height: 100vh


.footer
  display: flex
  margin: 40px

  &__contacts
    display: flex

    &__item
      margin-right: 40px
      margin-bottom: 0.5em

      &:last-child
        margin-right: 0px


.social
  display: flex
  margin-left: auto

  &__item
    margin-right: 40px

    &:last-child
      margin-right: 0px


.categories
  display: flex
  flex-wrap: wrap
  list-style-type: none
  margin-top: 40px
  margin-bottom: 0px

  &__item
    margin-right: 25px
    margin-bottom: 20px

    &__link

      &_active
        color: $link_current
        border-color: lighten($link_current, 50%)

        &:visited
          color: $link_current
          border-color: lighten($link_current, 50%)

        &:hover
          border-color: $link_current


.address
  display: flex

  &__item
    font-style: normal
    margin-right: 40px

    h4
      margin-bottom: 0.5em

    p
      margin-top: 0


.the-map
  margin-top: 40px
  width: 100%
  filter: grayscale(1)
  transition: filter 0.3s ease

  &:hover
    filter: grayscale(0)

.fotorama
  margin-bottom: 20px
  max-width: calc(100vw - 2 * 40px - 20px)

  &__stage
    &__frame
      background-color: $photo_background

  &__nav
    &--thumbs
      text-align: left !important


@media (max-width: 1400px)

  .projects
    grid-template-columns: repeat(5, minmax(0, 1fr))


@media (max-width: 1200px)

  .projects
    grid-template-columns: repeat(4, minmax(0, 1fr))

  .the-map
    width: calc(100vw - 2 *40px)


@media (max-width: 992px)

  .projects
    grid-template-columns: repeat(3, minmax(0, 1fr))

  .arkanafts
    grid-template-columns: repeat(3, minmax(0, 1fr))

  .footer
    &__contacts
      flex-direction: column

  .scroller
    margin: 0 -40px

    &__item
      img
        //max-width: calc(100vw - 40px)
        height: 55vw
        max-height: 100vh

  .fotorama
    margin-left: -40px
    margin-right: -40px
    max-width: 100vw

  .the-map
    margin-left: -40px
    margin-right: -40px
    width: 100vw


@media (max-width: 768px)

  .header
    
    &__title
      display: none

  .projects
    grid-template-columns: repeat(2, minmax(0, 1fr))

  .arkanafts
    grid-template-columns: repeat(3, minmax(0, 1fr))


@media (max-width: 576px)

  .projects
    grid-template-columns: repeat(1, minmax(0, 1fr))

  .arkanafts
    grid-template-columns: repeat(2, minmax(0, 1fr))

