{% import "macros/macros.html" as macros %}

<!DOCTYPE html>

<html lang="{{ lang }}">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="theme-color" content="#fff"/>
    <link rel="icon" type="image/png" href="{{ get_url(path="/images/favicon.ico") | safe }}">
    <link rel="mask-icon" href="{{ get_url(path="/favicons/safari-pinned-tab.svg") | safe }}" color="#2c2c2c">
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}" type="text/css" media="all">
    <script type="text/javascript"
      src="{{ get_url(path="/third_party/jquery/jquery-1.11.1.min.js") }}"></script>
    <link rel="stylesheet" href="{{ get_url(path="/third_party/fotorama/fotorama.css") | safe }}"
      type="text/css" media="all">
    <script src="{{ get_url(path="/third_party/fotorama/fotorama.js") | safe }}"
      type="text/javascript"></script>
    {% block rss %}
      <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{
        get_url(path="atom.xml", trailing_slash=false) | safe
      }}">
    {% endblock rss %}
    <title>
      {% block title %}
        {{ config.title }}
      {% endblock title %}
    </title>
  </head>

  <body class="body">

    {{ macros::yandex_metrika() }}

    <header class="header">
      {% if current_path == "/" %}
        <div class="header__logo">
          <img src="{{ get_url(path="/images/logo.svg") | safe }}" alt="Логотип студии">
        </div>
        <div class="header__title">{{ config.title }}</div>
      {% else %}
        <a class="header__logo" href="{{  get_url(path="/") | safe }}">
          <img src="{{ get_url(path="/images/logo.svg") | safe }}" alt="Логотип студии">
        </a>
        <a class="header__title" href="{{ get_url(path="/") | safe }}">{{ config.title }}</a>
      {% endif %}


      <nav class="header__nav">
        {% for link in config.extra.menu_links %}
          {% set url = link.url %}
          {% set path = "/" %}
          {% if path != current_path %}
            {% set path = current_path | trim_end_matches(pat="/") %}
          {% endif %}
          <a class="header__nav__link {% if url == path %}header__nav__link_active{% endif %}"
              href="{{ get_url(path=url) | safe }}">
            {{ link.name }}
          </a>
        {% endfor %}
      </nav>

      <div class="social">
        {% if social %}
          {% for item in social %}
            <div class="social__item">
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}
              {{ item }}
            {% endif %}
            </div>
          {% endfor %}
        {% endif %}
        {#
        <div class="social__item">
          Подписка на
          <a href="{{ get_url(path="atom.xml", trailing_slash=false) | safe }}">RSS</a>
        </div>
        #}
      </div>
    </header>

    {% block content %} {% endblock %}

    {% set contacts = config.extra.contacts %}
    {% set social = config.extra.social %}

    <footer class="footer">
      {% if contacts %}
        <div class="footer__contacts">
          {% for item in contacts %}
            <div class="footer__contacts__item">
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.name }}</a>
            {% else %}
              {{ item }}
            {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </footer>

  </body>

</html>
